<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.css">
</head>
<body>
       <h2> {{>header}} </h2>
    <h2 class="title"> {{ title}} </h2>
    <p>I am {{job}} </p>
    <p> Skills: {{skills}} </p>
    <div class="div1">
    <img src={{img}} alt="image"/>
     <a class="facebook"  href="https://www.facebook.com/profile.php?id=100008344484144" target="_blank" rel="noopener noreferrer"><button> <i class="fab fa-facebook"> {{confirm}} </i></button>  </a>
 </div>
   <h2> {{>footer}} </h2>
 </body>
</html>