<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.css">
</head>
<body>
     <h2> {{>header}} </h2>
     <h2 class="title"> {{ title}} </h2>
    <div class="container">
    <a href="https://khalifa5000.github.io/website1/" target="_blank"> {{website1}} </a>
   <a href="https://khalifa5000.github.io/second-website/" target="_blank"> {{website2}} </a>
   <a href="https://khalifa5000.github.io/third-website-bootstrab/" target="_blank"> {{website3}} </a>
   <a href="https://khalifa5000.github.io/task-javascript-price/" target="_blank"> {{website4}} </a>
    <a href="https://khalifa5000.github.io/My-portfolio/" target="_blank"> {{website5}} </a>
    </div>
 </body>
    <h2> {{>footer}} </h2>
</html>